<div class="row" id="companies">
    <div class="col-xs-12">
        <h1> Portfolio</h1>
    </div>
</div>
<br>
<!-- Trigger the modal with a button -->
<div class="row">
    {{#each projects}}
    <div class="col-xs-4 button-for-jemma" data-project="{{this}}">
        <h3>{{this.name}}</h3> {{!--
        <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#myModal"><img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
        </button> --}}
        <img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
    </div>
    {{/each}}
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">


                    {{!-- {{this.name}} --}}


                </h4>
            </div>
            <div class="modal-body">
                {{!-- {{this.linkLiveDemo}} {{this.description}}
                <br> {{this.linkGithub}} --}}
            </div>
            <div class="modal-footer">
                {{!-- {{this.createdAt}} --}}
            </div>
        </div>
    </div>
</div>
{{#section 'script'}}
<script type="text/javascript">

var settings = {
    "url": "http://localhost:3000/api/projectById/2",
    "method": "GET"
}

$.ajax(settings).done(function(response) {

    $('.row').on("click", ".button-for-jemma", function() {
        $('#myModal').modal("show");
        console.log($(this).attr("data-project"));
        console.log(response);
    });

});
</script>
{{/section}}
